body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.header{
    width: 90%;
    height: 50px;
    border: 1px solid black;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header-options-us{
    margin-left: 5%;
    margin-right: 50%;
}

.body{
    margin-top: 15px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 90%;
    height: 640px;
    display: flex;
    flex-direction: column;
}

.content-body{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin-top: 10px;
    margin-left: 25PX;
}

.content-body2{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin-top: 10px;
    margin-left: 25PX;
}

.content-body-botons{
    display: inline;
}